<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!--
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tokenizer IDE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">File</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Nuevo Archivo", "Nuevo", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Abrir Archivo", "Abrir", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Cerrar Archivo", "Cerrar", "Home", new { area = "" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Compilar", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>-->
    <!-- Modal Nuevo Archivo-->
    <div class="modal fade" id="NuevoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Nuevo Archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="~/Home/Nuevo" method="post">
                    
                    <div class="modal-body">

                        <div class="row">

                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nombre Del Archivo">
                            </div>

                            <button type="submit" class="btn btn-primary" value="prueba">Siguiente</button>

                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--fin modal-->
    <!-- Modal Cargar Archivo-->
    <div class="modal fade" id="AbrirModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Abrir archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                     <form  method="post" EncType="multipart/form-data">
                    
                        <div class="form-group">
                            <label for="formUp">Buscar Archivo</label>
                            <!-- <input type="file" class="form-control-file" id="formUpFile">-->
                            <INPUT id="oFile" type="file" runat="server" NAME="UpFile">
                            <button type="submit" class="btn btn-primary"> Cargar Archivo
                                <!-- @Html.ActionLink("Subir", "AbrirArchivo", "Home", new { area = "" }, new { @class = "nav-link" })-->
                            </button>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                   
                </div>
            </div>
        </div>
    </div>
    <!--fin modal-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @Html.ActionLink("Tokenizer IDE", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        File
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a type="text/asp" data-toggle="modal" data-target="#NuevoModal" class="dropdown-item"> Nuevo Archivo</a>
                        <!--<a type="text/asp" data-toggle="modal" data-target="#AbrirModal" class="dropdown-item"> Abrir Archivo</a>-->
                        @Html.ActionLink("Abrir", "LF", "Home", new { area = "" }, new { @class = "dropdown-item" })
                        
                        @Html.ActionLink("Cerrar Archivo", "Cerrar", "Home", new { area = "" }, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Compilar", "About", "Home", new { area = "" }, new { @class = "nav-link" })

                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <!---->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
